* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.principal {
  background-color: #c8c9f5; }

.header {
  background-color: #1F4881;
  padding: 20px;
  color: white; }

.navbar-collapse ul li a {
  color: white !important; }

.navbar-collapse ul li a:hover {
  color: #969696 !important; }

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  /* padding: 1.5rem; */ }

.footer {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #1F4881;
  align-items: center; }

.footer ol {
  display: flex;
  list-style: none; }

.footer ol li a {
  color: white;
  padding: 1rem;
  font-size: 30px;
  transition: all 0.4s; }

.footer ol li a:hover {
  color: #2b2b2b; }

.footer h5 {
  font-size: 17px;
  color: #2b2b2b; }

.banner img {
  width: 100%;
  height: 300px; }

.mainNos {
  background-color: #c8c9f5; }

.contenedorNos, .contUbicacion {
  margin: 40px;
  padding: 40px;
  display: flex;
  justify-content: center; }

.descripcion, .contenidotext {
  width: 900px;
  height: 300px;
  background-color: white;
  flex-direction: column;
  max-width: 400px;
  border: 0px solid black;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 10px 10px #000001; }

.descripcion p, .contenidotext p {
  align-items: center; }

.descImg, .ubiImg {
  width: 250px;
  border-radius: 5px;
  margin-left: 5px;
  box-shadow: 0px 10px 10px #000001; }

.container-fluid {
  background-color: #c8c9f5; }

.principalImg {
  width: 100%;
  height: 300px; }

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0; }
  .blog-card a {
    color: inherit; }
    .blog-card a:hover {
      color: #808682; }
  .blog-card:hover .photo {
    transform: scale(1.3) rotate(3deg); }
  .blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px; }
  .blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform .2s; }
  .blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: .9rem; }
    .blog-card .details a {
      text-decoration: dotted underline; }
    .blog-card .details ul li {
      display: inline-block; }
    .blog-card .details .author:before {
      font-family: FontAwesome;
      margin-right: 10px;
      content: "\f007"; }
    .blog-card .details .date:before {
      font-family: FontAwesome;
      margin-right: 10px;
      content: "\f133"; }
    .blog-card .details .tags ul:before {
      font-family: FontAwesome;
      content: "\f02b";
      margin-right: 10px; }
    .blog-card .details .tags li {
      margin-right: 2px; }
      .blog-card .details .tags li:first-child {
        margin-left: -4px; }
  .blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1; }
    .blog-card .description h1,
    .blog-card .description h2 {
      font-family: Poppins, sans-serif; }
    .blog-card .description h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem; }
    .blog-card .description h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: #474747;
      margin-top: 5px; }
    .blog-card .description .read-more {
      text-align: right; }
      .blog-card .description .read-more a {
        color: #808682;
        display: inline-block;
        position: relative; }
        .blog-card .description .read-more a:after {
          content: "\f061";
          font-family: FontAwesome;
          margin-left: -10px;
          opacity: 0;
          vertical-align: middle;
          transition: margin .3s, opacity .3s; }
        .blog-card .description .read-more a:hover:after {
          margin-left: 5px;
          opacity: 1; }
  .blog-card p {
    position: relative;
    margin: 1rem 0 0; }
    .blog-card p:first-of-type {
      margin-top: 1.25rem; }
      .blog-card p:first-of-type:before {
        content: "";
        position: absolute;
        height: 5px;
        background: #808682;
        width: 35px;
        top: -0.75rem;
        border-radius: 3px; }
  .blog-card:hover .details {
    left: 0%; }
  @media (min-width: 640px) {
    .blog-card {
      flex-direction: row;
      max-width: 700px; }
      .blog-card .meta {
        flex-basis: 40%;
        height: auto; }
      .blog-card .description {
        flex-basis: 60%; }
        .blog-card .description:before {
          transform: skewX(-3deg);
          content: "";
          background: #fff;
          width: 30px;
          position: absolute;
          left: -10px;
          top: 0;
          bottom: 0;
          z-index: -1; }
      .blog-card.alt {
        flex-direction: row-reverse; }
        .blog-card.alt .description:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg); }
        .blog-card.alt .details {
          padding-left: 25px; } }

.principal {
  background-color: #c8c9f5; }

.banner {
  width: 100%;
  height: 300px; }

.cards {
  margin: 20px;
  padding: 20px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap; }

.cards .card {
  justify-content: space-between;
  box-shadow: 0px 2px 2px #727272;
  margin: 50px;
  text-align: center;
  overflow: hidden;
  transition: all 0,25s; }

.cards .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px black; }

.banner {
  width: 100%;
  height: 300px; }

.contenido {
  margin: 20px;
  padding: 20px; }
  .contenido .contacto {
    display: flex;
    justify-content: space-between; }
  .contenido .catalogo {
    flex-direction: column;
    flex-wrap: wrap; }
