.footer {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: #1F4881;
    align-items: center;
  }
  
  .footer ol {
    display: flex;
    list-style: none;
  }
  
  .footer ol li a {
    color: white;
    padding: 1rem;
    font-size: 30px;
    transition: all 0.4s;
  }
  
  .footer ol li a:hover {
    color: #2b2b2b;
  }
  
  .footer h5 {
    font-size: 17px;
    color: #2b2b2b;
  }