.banner img{
    width: 100%;
    height: 300px;
}

.mainNos{
    background-color: rgb(200, 201, 245);
}
.contenedorNos{
    margin: 40px;
    padding: 40px;
    display: flex;
    justify-content: center;
    }
    
    .descripcion{
        width: 900px;
        height: 300px;
        background-color: white;
        flex-direction: column;
        max-width: 400px;
        border: 0px solid black;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0px 10px 10px rgb(0, 0, 0.5);
        }
    
.descripcion p{
    align-items: center;
    
}

    .descImg{
        width: 250px;
        border-radius: 5px;
        margin-left: 5px;
        box-shadow: 0px 10px 10px rgb(0, 0, 0.5);
    
}