.principal{
    background-color: rgb(200, 201, 245);
}

.banner{
    width: 100%;
    height: 300px;
}

.cards{
    margin: 20px;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.cards .card{
    justify-content: space-between;
    box-shadow: 0px 2px 2px rgb(114, 114, 114);
    margin: 50px;
    text-align: center;
    overflow: hidden;
    transition: all 0,25s;
}

.cards .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgb(0, 0, 0.2);
}